@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>@Mui.Stuff</h2>

<p>
@Html.ActionLink(@Mui.Country, "index","country")
</p>
<p>
@Html.ActionLink(@Mui.Chef, "index","chef")
</p>
<p>
@Html.ActionLink(@Mui.Vendor, "index","vendor")
</p>
<p>
@Html.ActionLink(@Mui.Coupon, "index","coupon")
</p>
<p>
@Html.ActionLink(@Mui.VendorCategory, "index","category")
</p>